<p id="notice"><%= notice %></p>

<h1>Listing Card Decks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @card_decks.each do |card_deck| %>
      <tr>
        <td><%= link_to 'Show', card_deck %></td>
        <td><%= link_to 'Edit', edit_card_deck_path(card_deck) %></td>
        <td><%= link_to 'Destroy', card_deck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card deck', new_card_deck_path %>
